{% extends 'base.html.twig' %}

{% block body %}
    <h1>Custom html</h1>
    <form method="POST">
        <div class="form-group">
            <label for="options">Options (as json format):</label>
            <textarea class="form-control" name="options" id="options" cols="50" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="html">Your html to convert:</label>
            <textarea class="form-control" name="html" id="html" cols="100" rows="30"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}